# Preprocessing Config
PREPROCESSING_CONFIG_PATH=config/preprocessing_config.yaml

# Model Config
MODEL_CONFIG_PATH=config/model_config.yaml

# Training Config
TRAINING_CONFIG_PATH=config/training_config.yaml

# Inference Config
INFERENCE_CONFIG_PATH=config/inference_config.yaml

# Kafka Broker
KAFKA_BROKER=localhost:9092
KAFKA_ANOMALIES_TOPIC=anomalies
KAFKA_TEST_ALERTS_TOPIC=test_alerts

# API Ports
AGGREGATOR_PORT=8000
SHELL_API_PORT=8001
SOC_API_PORT=8002

# Data Paths
DATA_DIR=models/data
CHECKPOINT_DIR=models/checkpoints
REPORT_DIR=models/reports

# Logging
LOG_LEVEL=INFO
